@model MVCswitchback.Models.UserInfo
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h4>Add User</h4>

@* Bootstrap CSS from https://mdbootstrap.com/docs/jquery/forms/basic/ *@
<div class="row">
    <div class="text-center border border-light p-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row mb-4">
                <div class="mb-4">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-info my-4 btn-block" type="submit" value="Create" />

            @*<div class="form-group">
                </div>
                <div class="form-group">
                </div>*@
            @*<div class="btn btn-info my-4 btn-block">
                </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to User List</a>
</div>