@{
    ViewData["Title"] = "Home";
    ViewData["Heading"] = "Home";
    Layout = "_Layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Switchback</title>
</head>
<body>
    <h1>Didney Worl!</h1>
    <a href="/Trail">Search for trails</a>
    <partial name="_CommentsPartialView" />

</body>
</html>