@{
    ViewData["Title"] = "Home";
    ViewData["Heading"] = "Home";
    Layout = "_Layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Switchback</title>
</head>
<body>
    <h1>Venture Into The Known</h1>
    <form asp-controller="Trail" asp-action="Index">
        <p>
            Search: <input type="text" name="lat">
            <input type="text" name="lon">
            <input type="submit" value="Search" />
        </p>
    </form>

</body>
</html>