@{
    ViewData["Title"] = "Home";
    ViewData["Heading"] = "Home";
    Layout = "_Layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Switchback</title>
</head>
<body>
    <h1>Didney Worl!</h1>
    <a href="/Trail">Search for trails</a>

    <form action="/trail" method="post">
        <p>
            Search: <input type="text" name="SearchString" />
                    <input type="submit" value="Search" />
        </p>
    </form>

</body>
</html>