@{
    ViewData["Title"] = "Home";
    //ViewData["Heading"] = "Home";
    Layout = "_Layout";
}

@model MVCswitchback.Models.UserReviews


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Switchback</title>
</head>
<body>
    <h1>Didney Worl!</h1>
    <a href="/Trail">Search for trails</a>

    @*<div>
        <partial name="_CommentsPartialView" />
        <table class="table table-condensed">
            @foreach (var comments in Model.UserComment)
            {
                @Html.PartialAsync("_CommentsPartialView", comments);
            }
        </table>
    </div>*@

</body>
</html>