@model MVCswitchback.Models.Trail
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarVotes" class="control-label"></label>
                <input asp-for="StarVotes" class="form-control" />
                <span asp-validation-for="StarVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgMedium" class="control-label"></label>
                <input asp-for="ImgMedium" class="form-control" />
                <span asp-validation-for="ImgMedium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ascent" class="control-label"></label>
                <input asp-for="Ascent" class="form-control" />
                <span asp-validation-for="Ascent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descent" class="control-label"></label>
                <input asp-for="Descent" class="form-control" />
                <span asp-validation-for="Descent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="High" class="control-label"></label>
                <input asp-for="High" class="form-control" />
                <span asp-validation-for="High" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Low" class="control-label"></label>
                <input asp-for="Low" class="form-control" />
                <span asp-validation-for="Low" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionStatus" class="control-label"></label>
                <input asp-for="ConditionStatus" class="form-control" />
                <span asp-validation-for="ConditionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionDetails" class="control-label"></label>
                <input asp-for="ConditionDetails" class="form-control" />
                <span asp-validation-for="ConditionDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionDate" class="control-label"></label>
                <input asp-for="ConditionDate" class="form-control" />
                <span asp-validation-for="ConditionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
